<!-- component -->
<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script>
    var cont=0;
function loopSlider(){
  var xx= setInterval(function(){
        switch(cont)
        {
        case 0:{
            $("#slider-1").fadeOut(400);
            $("#slider-2").delay(400).fadeIn(400);
            $("#sButton1").removeClass("bg-purple-800");
            $("#sButton2").addClass("bg-purple-800");
        cont=1;

        break;
        }
        case 1:
        {

            $("#slider-2").fadeOut(400);
            $("#slider-1").delay(400).fadeIn(400);
            $("#sButton2").removeClass("bg-purple-800");
            $("#sButton1").addClass("bg-purple-800");

        cont=0;

        break;
        }
        case 2:
        {

            $("#slider-2").fadeOut(400);
            $("#slider-1").delay(400).fadeIn(400);
            $("#sButton2").removeClass("bg-purple-800");
            $("#sButton1").addClass("bg-purple-800");

        cont=0;

        break;
        }


        }},8000);

}

function reinitLoop(time){
clearInterval(xx);
setTimeout(loopSlider(),time);
}



function sliderButton1(){

    $("#slider-2").fadeOut(400);
    $("#slider-1").delay(400).fadeIn(400);
    $("#sButton2").removeClass("bg-black-800");
    $("#sButton1").addClass("bg-black-800");
    reinitLoop(4000);
    cont=0

    }

    function sliderButton2(){
    $("#slider-1").fadeOut(400);
    $("#slider-2").delay(400).fadeIn(400);
    $("#sButton1").removeClass("bg-black-800");
    $("#sButton2").addClass("bg-black-800");
    reinitLoop(4000);
    cont=1

    }

      function sliderButton2(){
    $("#slider-1").fadeOut(400);
    $("#slider-2").delay(400).fadeIn(400);
    $("#sButton1").removeClass("bg-black-800");
    $("#sButton2").addClass("bg-black-800");
    reinitLoop(4000);
    cont=2

    }

    $(window).ready(function(){
        $("#slider-2").hide();
        $("#sButton1").addClass("bg-black-800");


        loopSlider();


    });


  </script>
</head>

<body>
  <div class="flex justify-center sliderAx h-auto">
      <div id="slider-1" class="container">
        <div class="h-96 bg-cover bg-center text-white py-24 px-10 object-fill" style="background-image: url('<%= asset_path 'Bently-1.jpg' %>')">
       <div class="md:w-full">
         <p class="text-3xl font-bold">The luxury life awaits for you</p>
        </div>
    </div> <!-- container -->
      <br>
      </div>

      <div id="slider-2" class="container">
        <div class="h-96 bg-cover bg-center text-white py-24 px-10 object-fill" style="background-image: url('<%= asset_path 'Bently-3.jpg' %>')">
         <p class="text-3xl font-bold">Welcome</p>
    </div> <!-- container -->

      <br>
      </div>
    </div>
    <div class="flex justify-between w-12 mx-auto pb-2">
  </div>

    <div class="flex gap-3 flex-col items-center justify-center">
        <p>Bently is 100 </p>
        <p class="text-center w-96">On 10 July 2019 reached its Centenary,<br>
        an archivement most definintely worth celebranting.
        from the very First prototype created in a London mews to
        the phenomenally powerful and exquisitely crafted cars driven across
        the world today. Bently has trasnformed the face of motoring.</p>
    </div>
</body>
