<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex flex-col gap-3 justify-between items-center">
    <h1 class="font-bold text-4xl">Payments</h1>

    <h2 class="flex gap-3 items-center"><strong>total transactions:</strong> $<%=@total%></h2>
  </div>
  <div id="payments" class="min-w-full">
    <%= render @payments %>
  </div>
</div>
